{# 模板继承 #}
{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
	博客列表
{% endblock %}

{% block nav_blog_active %}
	active
{% endblock %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block header_extends %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
{% endblock%}


{# 页面内容 #}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					{% block blog_list_title %}博客列表{% endblock %}
				</div>
				<div class="panel-body">
					{% for blog in blogs%}
					<div class="blog">
						<h3>
							<a href="{% url 'blog_detail' blog.id %}">
							{{ blog.title }}
							</a>
						</h3>
						<p class="blog-info">
							<span class="glyphicon glyphicon-tag" ></span>
							<a href="{% url 'blogs_with_type' blog.blog_type.id %}">
								{{blog.blog_type}}
							</a>&nbsp;&nbsp;
							<span class="glyphicon glyphicon-time" ></span>{{blog.created_time|date:"Y-m-d H:n:s"}}&nbsp;&nbsp;<i class="fa fa-book" aria-hidden="true"></i>&nbsp;阅读({{blog.get_read_num}})&nbsp;&nbsp;评论({% get_comment_count blog %})&nbsp;&nbsp;
							点赞({% get_like_count blog %})
						</p>
						<p>{{ blog.content|striptags|truncatechars:120 }}</p>
					</div>
						
					{% empty %}
					<div class="blog">
						<h3>--暂无博客，敬请期待</h3>
					</div>
					{% endfor%}
				</div>
			</div>
			<div class="paginator">
				  <ul class="pagination">{# 分页器 #}

				  	{# 上一页 #}
				    <li>
				    	{% if page_of_blogs.has_previous %}
							<a href="?page={{page_of_blogs.previous_page_numbe}}" aria-label="Previous">
				       			 <span aria-hidden="true">&laquo;</span>
				      		</a>
				    	{% else %}
							<span aria-hidden="true">&laquo;</span>
				    	{% endif %}
				      
				    </li>
					{# 循环显示全部页码 #}
					{% for page_num in page_range %}
						{% if page_num == page_of_blogs.number %}
						<li class="active"><span>{{ page_num }}</span></li>
						{% else %}
							{% if page_num == "..." %}
							<li><span>{{ page_num }}</span></li>
							{% else %}
							<li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}

					{# 下一页 #}
				    <li>
				    	{% if page_of_blogs.has_next %}
							<a href="?page={{page_of_blogs.next_page_number}}" aria-label="Next">
				       			 <span aria-hidden="true">&raquo;</span>
				      		</a>
				    	{% else %}
							<span aria-hidden="true">&raquo;</span>
				    	{% endif %}
				    </li>
				  </ul>
				  <p>
				  	一共有{{page_of_blogs.paginator.count }}篇博客,
				  	当前第{{page_of_blogs.number}}页,
				  	一共有{{page_of_blogs.paginator.num_pages}}页
				  </p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
  				<div class="panel-heading">
  					<h4 style="text-align: center;">博客分类</h4>
  				</div>
  				<div class="panel-body" style="background-color: #dddddd!important">
    				<ul class="blog-types list-group">
						{% for blog_type in blog_types %}
						<li class="list-group">
							
								<a href="{% url 'blogs_with_type' blog_type.id %}" class="btn btn-success btn-lg active" role="button">{{blog_type.type_name}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{blog_type.blog_count}}</span></a>
								
								
						</li>
						{% empty %}
						<li>暂无分类</li>
						{% endfor %}
					</ul>
  				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">日期归档</div>
				<div class="panel-body">
					<ul class="blog-types">
						{% for blog_date,blog_count in blog_dates.items %}
							<li class="list-group riqiguidang">
								<a href="{% url 'blogs_with_date' blog_date.year blog_date.month%}">{{blog_date|date:"Y年m月"}}({{blog_count}})&nbsp;&nbsp;<span class="glyphicon glyphicon-send" ></span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
{% endblock %}
